<!DOCTYPE html>
<html>
<head>
  <title>RoRHW3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div id="navbar" class="navbar-collapse collapse">
        <%= link_to image_tag('logo.gif', width: 75), root_path %>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li><p><%= "Welcome, #{current_user.name}" %></p></li>
                <li><%= link_to 'Logout', sessions_logout_path %></li>
            <% else %>
                <li><%= link_to 'Register', registration_path %></li>
                <li><%= link_to 'Login', sessions_login_path %></li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>

<%= yield %>

</body>
</html>
